<div class="row">
  <div class="col-md-2">
    <mat-form-field class="example-full-width">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="addEvent('input', $event)"
        [defaultValue]="today"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-md-2">
    <button mat-fab extended="" color="accent" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add Task
    </button>
  </div>
</div>
