<form [formGroup]="taskForm">
  <div class="row container">
    <h4>Task Details:</h4>
    <hr />
    <div class="col-12">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="datePicker"
          formControlName="date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field>
        <mat-label>From Time</mat-label>
        <input matInput type="time" formControlName="fromTime" required />
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field>
        <mat-label>To Time</mat-label>
        <input matInput type="time" formControlName="toTime" required />
      </mat-form-field>
    </div>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-raised-button color="secondary" (click)="onCancel()">
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onSubmit()"
    [disabled]="!taskForm.valid"
  >
    Save Task
  </button>
</div>
